# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDWwk3dCFmEM9_5x07fvmBMZ6LApstxkw0
VITE_FIREBASE_AUTH_DOMAIN=akai-e693f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=akai-e693f
VITE_FIREBASE_STORAGE_BUCKET=akai-e693f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=24155106297
VITE_FIREBASE_APP_ID=1:24155106297:web:53767f40ca0488f11416c3
VITE_FIREBASE_MEASUREMENT_ID=G-EDM9X2Y6B0
